{% extends 'base.html' %}

{% block header%}
    <header>
        <div class="container">
            <hgroup>
                <h1>Status de la inversión</h1>
                <p>Consulta la posición global de tu cuenta CryptoDex de forma sencilla</p>
            </hgroup>
        </div>
    </header>
{% endblock %}

{% block section %}
    <div class="container">
        <span>Invertido:</span>
        <span>{{ invertido }} EUR</span>
        <br>
        <span>Recuperado:</span>
        <span>{{ recuperado }} EUR</span>
        <br>
        <span>Valor de compra:</span>
        <span>{{ valor_compra }} EUR</span>
        <br>
        <span>Valor actual:</span>
        <span>{{ valor_actual }} EUR</span>
    </div>
{% endblock %}